.about_section{
    width: 100%;
    padding-top: 30px;
    .container{
        .col-md-6{
            position: relative;
            z-index: 3;
        }
    }
    .btn{
        margin-top: 20px;
    }
    
}

@media only screen and (max-width: 991px){
    .about_section{
        text-align: center;
        .custom_heading{
            &::after{
                right: 0;
                margin: auto;
            }
        }
    }
}